
.card-profiles {
    padding: 2rem;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
    border-radius: 6px;

    .profiles {
        display: flex;
        margin-top: 1rem;

        span {
            color: gray;
        }

        p {
          color: lightgray;
        }     

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 1rem;
        }
    }
}

.hashtag {
    color: lightgrey;
}

.titulo-hashtag {
    color: gray;
    margin-right: 5px;
}

.titulo-hashtag:hover {
    color: black;
}

.p-profiles h2:hover {
    color: blue;
}

.card-reacciones {
    display: flex;
}

.initial-card {
    display: flex;
    justify-content: flex-start;    
    color: lightgray;

    .small {
        margin-right: 4px;
    }
}

.final-card {
    display: flex;
    margin-left: 150px;
    justify-content: flex-end;
    align-items: flex-end;
    color: lightgray;

    .small {
        margin-right: 4px;
    }
}


.tiempo-leido {
    color: lightgray;
}

.profiles p:hover {
    color: black;
}

.profiles span:hover {
    color: black;
}










  // CSS ITZÍ 








a:hover {
    text-decoration: none;
    color: $accent-brand;
  }
  
  // Borde pagina
  
  .h1i {
    font-family: $ff-sans-serif;
    font-weight: 800;
    color: $base;
    font-size: 45px;
  }
  
  .h2i {
    font-family: $ff-dyslexic;
    font-weight: 400;
    color: $base;
  }
  
  .primerpost .border {
    border-radius: 15px;
  }
  
  // Taggs Principales
  
  .etiquetas {
    .etiqueta1 {
      background: $accent-brand-darker;
      padding: 5px;
      color: $accent-success-lighter;
    }
    .etiqueta2 {
      background: $accent-success;
      padding: 5px;
      color: $base-80;
    }
    .etiqueta3 {
      background: #69e96e;
      padding: 5px;
      color: $base-80;
    }
  }
  // Post contenido
  
  .imag-user {
    width: 40px;
    height: 40px;
  }
  
  .post {
    border-radius: 0.5%;
  }
  
  .post-img {
    border-radius: 0.5%;
  }
  
  // Parrafos
  
  .piedepag {
    color: $base-60;
  }
  
  // Zona discusión
  
  .form-control {
    background: $base-0;
  }
  
  .imag-user3 {
    height: 40px;
    width: 40px;
  }
  
  .btndis {
    width: 120px;
    height: 40px;
    box-shadow: 0 0 3px 1px $base-40;
    border: $base-50;
    color: black;
  }
  
  .h2t {
    font-family: $ff-dyslexic;
    font-weight: 600;
    color: $base;
  }
  
  // zona otros post
  
  .imag-user2 {
    width: 70px;
    height: 70px;
  }
  
  .htext:hover {
    color: $accent-brand-darker;
  }
  
  .postread {
  
    .post1i {
      color:$base-80;
  
    }
  
      .post2i {
        color:$base-60;
      }
  
    
  
    
  }
  
  
  // MAIN 1
  
  .navinternoi {
    list-style: none;
  }
  
  .margn1 {
    margin-left: 46px;
  }
  
  
  //  etiquetas 1
  
  .etimain {
    .eti1 {
      color: $base-70;
    }
  
    .eti2 {
      color: $base-70;
    }
  
    .eti3 {
      color: $base-70;
    }
  
    .eti4 {
      color: black;
    }
  }
  
  .botonesm1 {
  
    .boton1 {
  
      font-size: 14px;
      background-color: white;
      border: none;
      
  
    }
  
    .botonsave {
      font-size: 15px;
      background-color:$base-20;
      border: none;
      color:$base-90;
      
  
    }
  
  }
  
  //read 15 min
  .h6i {
    
    font-size: 20px;
    vertical-align: middle;
  
  }
  
  
  // footer
  
  .imag-logo {
    width: 50px;
    height: 40px;
  
  }
  
  
  .back {
    background-color:$base-20;
  }
  
  .foot1 {
    font-size: 10px;
    
  }
  
  .derecha{
    .enlacei {
      
      color: $base-80;
      
    
    }
  .h5ii{
  
    font-size: 18px;
    font-family: $ff-dyslexic;
    margin-bottom: 30px;
  
  }
  
  
  }
  


  a:hover {
    text-decoration: none;
    color: $accent-brand;
  }
  
  // Borde pagina
  
  .h1i {
    font-family: $ff-sans-serif;
    font-weight: 800;
    color: $base;
    font-size: 45px;
  }
  
  .h2i {
    font-family: $ff-dyslexic;
    font-weight: 400;
    color: $base;
  }
  
  .primerpost .border {
    border-radius: 15px;
  }
  
  // Taggs Principales
  
  .etiquetas {
    .etiqueta1 {
      background: $accent-brand-darker;
      padding: 5px;
      color: $accent-success-lighter;
    }
    .etiqueta2 {
      background: $accent-success;
      padding: 5px;
      color: $base-80;
    }
    .etiqueta3 {
      background: #69e96e;
      padding: 5px;
      color: $base-80;
    }
  }
  // Post contenido
  
  .imag-user {
    width: 40px;
    height: 40px;
  }
  
  .post {
    border-radius: 0.5%;
  }
  
  .post-img {
    border-radius: 0.5%;
  }
  
  // Parrafos
  
  .piedepag {
    color: $base-60;
  }
  
  // Zona discusión
  
  .form-control {
    background: $base-0;
  }
  
  .imag-user3 {
    height: 40px;
    width: 40px;
  }
  
  .btndis {
    width: 120px;
    height: 40px;
    box-shadow: 0 0 3px 1px $base-40;
    border: $base-50;
    color: black;
  }
  
  .h2t {
    font-family: $ff-dyslexic;
    font-weight: 600;
    color: $base;
  }
  
  // zona otros post
  
  .imag-user2 {
    width: 70px;
    height: 70px;
  }
  
  .htext:hover {
    color: $base-80;
  }
  
  .postread {
  
    .post1i {
      color:$base-80;
  
    }
  
      .post2i {
        color:$base-60;
      }
  
    
  
    
  }
  
  
  // MAIN 1
  
  .navinternoi {
    list-style: none;
  }
  
  .margn1 {
    margin-left: 20px;
  }
  
  
  //  etiquetas 1
  
  .etimain {
    .eti1 {
      color: $base-70;
      font-size: 15px;
    }
    .eti1:hover{
      color:black;
    }

      
    .eti2 {
      color: $base-70;
      font-size: 15px;
    }

    .eti2:hover{
      color:black;
    }

  
    .eti3 {
      color: $base-70;
      font-size: 15px;
      
     
    }

    .eti3:hover{
      color:black;
    }

  
    .eti4 {
      color:$base-70;
      
      
    }

    .eti4:hover{
      color:black;
    }


    .eti44 {
      font-size: 25px;
      color:black

    }

    .eti44:hover{
      color:$color-textlink;
    }

    .eti44 {
      @media (min-width: 1220px) {
        font-size:35px;   
      
      }
    }

  

  }
  
  .botonesm1 {
  
    .boton1 {
      //botones de reactions y comments
  
      font-size: 14px;
      background-color:none;
      border: none;
 
    }

    .boton1:hover{
      background-color:$base-10;
    }

    .boton2 {
      //botones de reactions y comments
  
      font-size: 14px;
      background-color:none;
      border: none;
 
    }

    .boton2:hover{
      background-color:$base-10;
    }
  
    .botonsave {
      font-size: 15px;
      background-color:$base-20;
      border: none;
      color:$base-90; 
      margin-right: 2px;
      
  
    }

    .botonsave:hover{
      background-color:$color-social;
    }
  
  }
  

  
  
  
  
  // footer
  
  .imag-logo {
    width: 50px;
    height: 40px;
  
  }
  
  
  .back {
    background-color:$base-20;
  }
  
  .foot1 {
    font-size: 10px;
    
  }
  
  .derecha{
    .enlacei {
      
      color: $base-80;
      
    
    }
  .h5ii{
  
    font-size: 18px;
    font-family: $ff-dyslexic;
    margin-bottom: 30px;
  
  }
  
  
  }

 
  .posta>button{

    margin-bottom: 60px;
    color:$base-80;
 
  }


  .navinternoi li{

    font-size: 17px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left:8px;
    padding-right:8px;
    border-radius: 5%;
    



    @media (min-width: 1200px) {
      margin-left: 30px;   
    
    }


}

.form-group2 {
  margin-right: -60px;

}




.navinternoi li:hover {
  background: #d8dcfe;
  color:$accent-brand-darker;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left:8px;
  padding-right:8px;
  border-radius: 5%;

}




//aside 2 padding 

.paddnga2 {

  @media (min-width: 780px) {
  margin-left: 20px;   

}
}

#minutes {
font-size:12px;
}


.btncrayon {
  background-color: $color-button;
  border: none;
  color:white;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  

}








  
  










